.container {
    max-width: 800px;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    margin: 20px;
    padding: 10px;
}

button {
    padding: 15px 30px;
    background-color: rgb(91, 170, 91);
    border: none;
    font-size: 20px;
    color: white;
}
